.button {
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  transition: all 0.3s ease;
  height: fit-content;
  padding: 10px 16px;
  border-radius: 8px;
}

.primary {
  background-color: var(--primary);
  color: var(--background);
  border: none;
}

.primary:hover {
  background-color: var(--hover);
  color: var(--primary);
}

.secondary {
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.secondary:hover {
  background-color: var(--primary);
  color: var(--background);
}

.tertiary {
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.tertiary:hover {
  background-color: var(--primary);
  color: var(--background);
  border: 1px solid var(--background);
}
