.container {
  display: flex;
  flex-direction: column;
  gap: 140px;
  padding-top: 140px;
  /* padding: 140px 120px 0 120px; */
}

@media (max-width: 1200px) {
  .container {
    padding: 120px 0 0 0;
  }
}
