.section1_legacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  /* padding: 148px 120px; */
  margin: 0 24px;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.title_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-grow: 1;
  max-width: 300px;
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  color: var(--textSecondary);
}

.description_container {
  max-width: 800px;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 18px;
  line-height: 28px;
  color: var(--textPrimary);
}

.legacy_image_container {
  display: flex;
  gap: 12px;
  max-width: 1200px;
  overflow: hidden;
  align-items: flex-end;
}

.legacy_image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  object-position: center;
}

/* .legacy_image:nth-child(1) {
  aspect-ratio: 291 / 326;
}

.legacy_image:nth-child(2) {
  aspect-ratio: 291 / 240;
}

.legacy_image:nth-child(3) {
  aspect-ratio: 291 / 177;
}

.legacy_image:nth-child(4) {
  aspect-ratio: 291 / 240;
} */

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .legacy_image_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
  }

  .legacy_image {
    object-fit: contain;
    height: fit-content;
  }

  .legacy_image:nth-child(3) {
    align-self: flex-start;
  }

  .legacy_image:nth-child(4) {
    align-self: flex-start;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    align-items: flex-start;
  }
}
