.section5_team {
  /* padding: 148px 120px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  justify-content: space-between;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  color: var(--textSecondary);
  max-width: 30%;
  text-wrap: balance;
}

.description {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 1200px) {
  .section5_team {
    padding: 0 24px;
  }

  .title {
    max-width: 40%;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .section5_team {
    padding: 0 24px;
  }

  .title {
    max-width: 100%;
  }

  .container {
    align-items: flex-start;
  }

  .title_container {
    flex-direction: column;
    align-items: flex-start;
  }
}
