.section8_tender_registration {
  /* padding: 0px 120px 148px 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--background);
}

.container {
  max-width: 1200px;
  padding: 46px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
  border-radius: 8px;
}

.title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .section8_tender_registration {
    padding: 0 24px;
  }

  .container {
    padding: 40px;
  }

  .title {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  .section8_tender_registration {
    padding: 0 24px;
  }

  .container {
    padding: 22px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
