.section2_healthCity {
  display: flex;
  justify-content: center;
  padding: 0 24px;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  color: var(--textSecondary);
}

.description {
  font-size: 18px;
  line-height: 28px;
  color: var(--textPrimary);
  max-width: 800px;
}

.features_container {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}

.hospital_features {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background-color: var(--foreground);
  border-radius: 8px;
}

.feature {
  font-size: 24px;
  line-height: 32px;
  color: var(--textSecondary);
  font-weight: 400;
}

.university_features {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--background);
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.program {
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 1200px) {
  .description {
    font-size: 16px;
    line-height: 24px;
  }

  .feature {
    font-size: 20px;
    line-height: 28px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .program {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .features_container {
    flex-direction: column;
  }

  .hospital_features,
  .university_features {
    padding: 24px;
  }
}
