.section2_purpose {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  color: var(--textSecondary);
}

.description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--textPrimary);
}

.bold {
  font-weight: 600;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .description {
    font-size: 18px;
    line-height: 24px;
  }
}
